body {
    background-image:url("material/poly.png ");
    background-color: black;
    background-size:cover;
    background-attachment: fixed;
    font-family: sans-serif;
    color: azure;
    text-align: center;
}

.logo {
    width: 100px;
    transition: 1s;
}

.logo:hover {
    width: 120px;
}

.navigation {
    margin-bottom: 10px;
    width: 120px;
    font-size: large;
    color:white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    transition: 1s;
}

.navigation:hover {
    color:chartreuse;
    cursor: pointer;
}

h1 {
    color:chartreuse
}

a {
    color:white;
    transition: 0.5s;
}

a:hover {
    color:chartreuse;
}

hr {
    width:10%;
    margin-bottom: 100px;
}
