body {
    background-image:url("material/poly.png ");
    background-color: black;
    background-size:cover;
    background-attachment: fixed;
    font-family: sans-serif;
    color: azure;
    text-align: center;

}

header {
    font-size: xx-large;
}

h1 {
    color:chartreuse
}

a {
    color:azure
}

a:hover {
    color:chartreuse
}

.navigation-bar {
    display:inline-block;
    background-color:black;
    padding: 10px;
}

hr {
    width:10%;
    margin-bottom: 50px;
}
